.default-layout {
  --sidebar-max-width: 270px;
  display: grid;
  grid-template-columns: var(--sidebar-max-width) auto;
  grid-template-areas:
    "sidebar header header"
    "sidebar children children";

  .sidebar {
    grid-area: sidebar;
    max-width: var(--sidebar-max-width);
    width: var(--sidebar-max-width);
    transition: opacity 0.5s linear;
  }

  .header {
    grid-area: header;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  & > div:last-child {
    grid-area: children;
    padding-inline: 2rem;
    background-color: var(--bg-gray);
    min-height: 100vh;
  }
}
