.wrapper {
  .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .search {
      border: 1px solid #e5e5e5;
      border-radius: var(--border-radius-md);
      padding: 8px 12px;
      input {
        border: none;
        outline: none;
      }
    }
  }

  img {
    cursor: pointer;
  }
}
