@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Variables
:root {
  --bg-primary: linear-gradient(71.17deg, #feaf00 19.35%, #f8d442 90.12%);
  --bg-secondary: #f2eae1;
  --bg-gray: #f8f8f8;

  --btn-primary: #feaf00;
  --btn-danger: #ff4d4f;
  --opacity: 0.8;

  --border-radius-lg: 20px;
  --border-radius-md: 8px;
  --border-radius-sm: 4px;
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-primary);
  border-radius: var(--border-radius-sm) !important;
}

// INPUT
input {
  border-radius: var(--border-radius-sm) !important;
}

// BUTTON
button {
  border-radius: var(--border-radius-sm) !important;

  &:hover {
    opacity: var(--opacity);
  }
}

.ant-btn-primary {
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);

  &:hover {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
  }
}

// OTHERS
.ant-input-password {
  border-radius: var(--border-radius-sm);
}

.ant-menu-item {
  border-radius: var(--border-radius-sm);
  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    background-color: var(--btn-primary);
    color: #000 !important;
  }

  &-selected {
    background-color: var(--btn-primary) !important;
  }
}

.ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-table-cell {
  width: 150px;
  white-space: nowrap;
}

// Organize
.py-30 {
  padding-block: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.need-lowercase {
  text-transform: lowercase;
}
.need-capitalize {
  text-transform: capitalize;
}

.need-uppercase {
  text-transform: uppercase;
}

.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}
